@{ 
    ViewData["Title"] = "Login";
}

<div class="container">
    <form asp-controller="Home" asp-action="Authenticate">
        <label for="user">Usuário</label>
        <input type="text" id="user" name="user" />
        <label for="user">Senha</label>
        <input type="password" />
        <input type="submit" value="Entrar" />
    </form>
</div>